<h1>Teste de Página INDEX na WELCOME CONTROLLER</h1>
<h2>Teste Teste!!!</h2>
<h3><%= @teste %></h3>

<%= link_to "Cadastro de Clientes", customers_path %>

<h3>
    <%=t("hello") %>
    <%= t("Friend")%>
</h3>